<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
<ul class="navbar-nav">
    <li th:each="url: ${urlManager.getCurrentUrlList()}" class="nav-item">
        <a th:href="${url}"><span th:text="${url}" class="nav-link"/></a>
    </li>
    <i>
        <a href="/perform_logout" class="nav-link"><span>logout</span></a>
    </i>
</ul>
</nav>
<div class="container-fluid">
<h3 th:text="|Welcome ${userData.username}|"></h3>

<br/>
Your roles:
<ul>
    <li th:each="roleName: ${userData.roleNameList}">
        <span th:text="${roleName}"/>
    </li>
</ul>

<span th:text="${userData.lastLogin} ? |last login: ${userData.lastLogin}| : 'never logged in'"/>

<br/>
</div>

</body>
</html>