<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<div class="container">
<h3>Login</h3>
<form action="perform_login" method='POST' name='f'>
    <div class="form-group">
        <label for="username">User</label>
        <input name="username" id="username" type="text" value="" class="form-control" required
               placeholder="Enter username"/>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" id="password" value="" class="form-control" required
               placeholder="Enter password"/>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="form-group" th:if="${userData.isRecaptchaRequired()}">
        <div class="g-recaptcha" th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>
        <span class="alert alert-danger" id="captchaError"
              style="display:none"></span>
    </div>
    <div class="alert alert-danger" th:if="${error != null}"  th:text="${error}">
    </div>
</form>
</div>
</body>
</html>